doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Eyelashes
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css")
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
		link(rel="stylesheet" href="css/main.css")

	body
		//- div.loader
		//- 	div.loader_inner

		.header-wrap
			header
				.header-inner
					
					.toggle-wrap
						.toggle-button
							span.sandwich
								span.sw-topper 
								span.sw-bottom 
								span.sw-footer 
					nav
						ul
							li
								a(href="#") Преимущества
							li
								a(href="#") Цены
							li
								a(href="#") Галлерея работ
							li
								a(href="#") Отзывы
							li
								a(href="#") Частые вопросы
							li
								a(href="#") Контакты

					.h__title Покоряй одним лишь взглядом

					h1 Качественное наращивание ресниц от профессионального мастера

					.h__callback

						.h__callback-title Запишись уже на завтра

						.h__callback-inner
							.h__callback-number 093 333 33 33
							.callback-app
								.whatsapp
									img(src="images/whatsapp.jpg" alt="")
								.viber
									img(src="images/viber.jpg" alt="")
							
							.h__callback-address
								p Софиевская Борщаговка,
								p ЖК “София”, ул. Боголюбова 4

							button.check-in Записаться онлайн

		.section-wrap.sw_small.sw-1
			section

				h2 Так просто быть красивой!
				p Создай свой образ с шелковистыми и объемными ресничками

		.section-wrap.sw-2.sw_white
			section

				.h3-wrap
					h3 Что тебя ожидает?

				.first-row

					.first-row__item
						img(src="images/quality.svg" alt="")
						h4 Качество
						p.
							Высококачественный клей
							Гипоаллергенные реснички
							Стерильные иструменты

					.first-row__item
						img(src="images/security.svg" alt="")
						h4 Безопасность
						p.
							Опыт мастера более 6 лет
							Материалы Премиум Класса
							Поресничное наращивание

					.first-row__item
						img(src="images/beauty.svg" alt="")
						h4 Красота
						p.
							Удлинение и увеличение объема
							Идеально при любой погоде
							Выразительный взгляд

					.first-row__item
						img(src="images/comfort.svg" alt="")
						h4 Комфорт
						p.
							Индивидуальный подход
							Профессиональная консультация
							Теплая и уютная атмосфера

				.second-row

					.second-row__item
						.second-row__number 14 278
						p.
							часов сна в подарок
							получила прекрасная половина Киева.
							Какая экономия времени на утреннем макияже!	

					.second-row__item
						.second-row__number 4372
						p.
							процедуры наращивания
							уже было сделано для идеального
							взгляда у каждой девушки!

					.second-row__item
						.second-row__number 94%
						p.
							Девушек возвращаются
							после первой процедуры
							и остаются надолго :)

		.section-wrap.sw-3.sw_small
			section

				h2 Мечты становятся реальностью
				p.
					Во время процедуры наращивания ресниц ты сможешь и отдохнуть, и помечтать,
					и поразмышлять о разных приятных мелочах... и даже поспать :)

		.section-wrap.sw-4.sw_dark
			section

				.h3-wrap
					h3 В чем особенность нарощенных ресниц?

				.left-block

					img(src="images/sw-4.jpg" alt="")
					h5 Экономия времени и денег

					.sw-4__text
						p.
							Большинство женщин наносит макияж каждый день, иногда даже не один раз, когда нужно повседневный образ сменить на вечерний. Это требует немало времени, к тому же надо тратить деньги на покупку туши и средства для ее снятия.
						p.
							Нарощенные ресницы не требуют нанесения макияжа, они позволяют женщине всегда выглядеть так, будто она целый час провела у зеркала. Эта особенность искусственных ресниц очень нравится тем женщинам, которые часто не успевают накраситься. Таким девушкам приходится делать это либо очень быстро, либо в свободные минуты на работе, что часто выходит не слишком красиво и аккуратно. 
						p.
								Благодаря наращиванию ресниц можно вообще не пользоваться косметикой, по крайней мере тенями для глаз, так как лицо уже будет выглядеть очень эффектно. Более того, полный отказ от косметики поможет сохранить нарощенные ресницы дольше.

				.right-block

					h5 Длительный эффект

					.sw-4__text
						p.
							В среднем нарощенные ресницы будут выглядеть превосходно в течение 2-4 недель. Зависит это от нескольких факторов. Большое значение имеет тип кожи: если она жирная, перенаращивание делается чаще. Также немаловажными аспектами являются профессионализм мастера, соблюдение технологии наращивания и материалы (клей, реснички). И если первый фактор от нас не зависит, то все остальные мы берем на себя.

					h5 100% уверенность в себе

					.sw-4__text
						p.
							Некоторые женщины без косметики ощущают себя недостаточно красивыми из-за чего падает их самооценка. Многие вообще боятся куда-либо идти без макияжа. Нарощенные ресницы сами по себе создают эффект безупречного макияжа, делают черты лица более четкими, подчеркивают выразительный взгляд.

					h5 Невероятно красивый, завораживающий взгляд

					.sw-4__text
						p.
							Именно ради этого женщины и стремятся нарастить реснички. 
							Взгляд становится удивительно выразительным, не обратить внимания на такую женщину просто невозможно. 

				.sw-4__items

					.sw-4__item
						img(src="images/more.svg" alt="")
						p.
							носятся 3-4 недели и дольше

					.sw-4__item
						img(src="images/no_alergy.svg" alt="")
						p.
							не вызывают
							аллергий и
							покраснений глаз

					.sw-4__item
						img(src="images/no_discomfort.svg" alt="")
						p.
							не вызывают
							тяжести и
							дискомфорта

					.sw-4__item
						img(src="images/no_tempr.svg" alt="")
						p.
							не боятся воды и
							высоких
							температур

					.sw-4__item
						img(src="images/security.svg" alt="")
						p.
							безопасны для
							здоровья своих
							ресниц

		.section-wrap.sw-5.sw_small
			section

				h2 Невероятно выразительный взгляд

				p уже через пару часов!


		.section-wrap.sw-6.sw_white
			section

				.h3-wrap
					h3 Простой выбор

				.sw-6__items

					.sw-6__item
						.top
							img( src="images/choice.jpg" alt="")
						.middle
							.middle__title Классика
							.middle__price 500 грн
							button.check-in Хочу такие же!
						p.
							Наращивание верхнего ряда ресниц 1/1 с использованием
							материалов разной длины от внутреннего угла к внешнему

					.sw-6__item
						.top
							img( src="images/choice.jpg" alt="")
						.middle
							.middle__title 2D Объём
							.middle__price 500 грн
							button.check-in Хочу такие же!
						p.
							Наращивание верхнего ряда ресниц 1/2, то есть к каждой своей ресничке приклеивается по две искусственные

					.sw-6__item
						.top
							img( src="images/choice.jpg" alt="")
						.middle
							.middle__title 3d объём
							.middle__price 550 грн
							button.check-in Хочу такие же!
						p.
							Наращивание верхнего ряда ресниц 1/3, то есть к каждой своей ресничке приклеивается по три искусственные

					.sw-6__item
						.top
							img( src="images/choice.jpg" alt="")
						.middle
							.middle__title голливуд
							.middle__price 600 грн
							button.check-in Хочу такие же!
						p.
							Наращивание верхнего ряда ресниц 1/5, то есть к каждой своей ресничке приклеивается по пять искусственных

		.section-wrap.sw-7.sw_dark
			section

				.h3-wrap
					h3 Мои работы

				.my-works
					.work
						img(src="images/slide1.jpg" alt="")

					.work
						img(src="images/slide3.jpg" alt="")

					.work
						img(src="images/slide4.jpg" alt="")

					.work
						img(src="images/slide3.jpg" alt="")

					.work
						img(src="images/slide3.jpg" alt="")

					.work
						img(src="images/slide3.jpg" alt="")

		.section-wrap.sw-8.sw_white
			section

				.h3-wrap
					h3 ОТЗЫВЫ

				.reviews

					.review
						.review__img
							img(src="images/review.jpg" alt="")
						.review__text
							h6 Диана Рыбакова
							p.
								Ксения, без ума от ресничек, делала впервый раз, но довольна всем. Результат действительно превысил все ожидания. Спасибо за Вашу качественную и быструю роботу)

					.review
						.review__img
							img(src="images/review.jpg" alt="")
						.review__text
							h6 Диана Рыбакова
							p.
								Ксения, без ума от ресничек, делала впервый раз, но довольна всем. Результат действительно превысил все ожидания. Спасибо за Вашу качественную и быструю роботу)

		.section-wrap.sw-9.sw_small
			section

				h2 Шикарные пушистые и густые ресницы
				p.font_24 Мгновенное преображение
				p.font_18.
					Получай в 2 раза больше комплиментов от мужчин после безопасного наращивания ресниц уже завтра!
					Ты этого достойна!

		.section-wrap.sw-10
			section
				.h3-wrap
					h3 Записаться на приём
					.h3-after И ПОЛУЧИТЬ В ПОДАРОК
					span щёточку для ухода за нарощеными ресничками

				.form-gift
					.gift
						img(src="images/gift.jpg" alt="")
						p.
							Запись производится без предоплаты. 
							В день процедуры обязательно перезваниваем для подтверждения. Если Вы не отвечаете на смс и звонки - запись аннулируется.

					form.sw-10__form
						input(type="text" placeholder="Ваше имя")
						input(type="text" placeholder="Номер телефона")
						input(type="text" placeholder="Удобное время (утро / день / вечер)")
						input.check-in(type="submit" value="Записаться")
						p Ваши данные не будут переданы третьим лицам

		.section-wrap.sw-11.sw_dark
			section

				.h3-wrap
					h3 ВОПРОС-ОТВЕТ

				.quest-answer
					ul.questions
						li.question(rel="tab1").question_active Сколько можно носить реснички?
						li.question(rel="tab2") Как ухаживать за нарощенными ресницами?
						li.question(rel="tab3") Больно ли наращивать ресницы? Есть ли болезненные ощущения?
						li.question(rel="tab4") Как происходит процедура наращивания ресниц?
						li.question(rel="tab5") Из чего изготавливаются ресницы?

					.answers
						.question_acard(rel="tab1").question_active_acard Сколько можно носить реснички?
						.answer(id="tab1").active_answer
							h4 First tab
							p.
								Носить реснички и получать удовольствие от нового образа Вы сможете в среднем три, четыре недели - именно за такой период сменяются ваши собственные ресницы. Выпадают наращенные ресницы естественно и незаметно: выпала Ваша "родная" ресничка и вместе с ней наращенная. Наши постоянные клиентки записываются на процедуру раз в месяц. Наращивать ресницы можно сразу после снятия. Вреда для Ваших родных не будет. Можно вообще не делать перерывов.

						.question_acard(rel="tab2") Как ухаживать за нарощенными ресницами?
						.answer(id="tab2")
							h4 Second tab
							p.
								Носить реснички и получать удовольствие от нового образа Вы сможете в среднем три, четыре недели - именно за такой период сменяются ваши собственные ресницы. Выпадают наращенные ресницы естественно и незаметно: выпала Ваша "родная" ресничка и вместе с ней наращенная. Наши постоянные клиентки записываются на процедуру раз в месяц. Наращивать ресницы можно сразу после снятия. Вреда для Ваших родных не будет. Можно вообще не делать перерывов.

						.question_acard(rel="tab3") Больно ли наращивать ресницы? Есть ли болезненные ощущения?
						.answer(id="tab3")
							h4 Third tab
							p.
								Носить реснички и получать удовольствие от нового образа Вы сможете в среднем три, четыре недели - именно за такой период сменяются ваши собственные ресницы. Выпадают наращенные ресницы естественно и незаметно: выпала Ваша "родная" ресничка и вместе с ней наращенная. Наши постоянные клиентки записываются на процедуру раз в месяц. Наращивать ресницы можно сразу после снятия. Вреда для Ваших родных не будет. Можно вообще не делать перерывов.	
						
						.question_acard(rel="tab4") Как происходит процедура наращивания ресниц?
						.answer(id="tab4")
							h4 Third tab
							p.
								Носить реснички и получать удовольствие от нового образа Вы сможете в среднем три, четыре недели - именно за такой период сменяются ваши собственные ресницы. Выпадают наращенные ресницы естественно и незаметно: выпала Ваша "родная" ресничка и вместе с ней наращенная. Наши постоянные клиентки записываются на процедуру раз в месяц. Наращивать ресницы можно сразу после снятия. Вреда для Ваших родных не будет. Можно вообще не делать перерывов.	

						.question_acard(rel="tab5") Из чего изготавливаются ресницы?
						.answer(id="tab5")
							h4 Third tab
							p.
								Носить реснички и получать удовольствие от нового образа Вы сможете в среднем три, четыре недели - именно за такой период сменяются ваши собственные ресницы. Выпадают наращенные ресницы естественно и незаметно: выпала Ваша "родная" ресничка и вместе с ней наращенная. Наши постоянные клиентки записываются на процедуру раз в месяц. Наращивать ресницы можно сразу после снятия. Вреда для Ваших родных не будет. Можно вообще не делать перерывов.

		.section-wrap.sw-12

			.map
				script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=TZkMFEXgWYCfaKmyQA3wuOIinFdeQBS8&amp;width=100%25&amp;height=420&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")

			.balun
				.balun__title
					p Софиевская Борщаговка
					p ЖК "София"
					p ул. Боголюбова, 4
				.balun__number 093 333 33 33

				.callback-app
					.whatsapp
						img(src="images/whatsapp.jpg" alt="")
					.viber
						img(src="images/viber.jpg" alt="")

		.footer-wrap
			footer
				.footer__row
					.cols.col-1 Политика
						| </br> конфиденциальности
					.cols.col-2 2013-2016
						p Профессиональное наращивание ресниц
					.cols.col-3
						img(src="images/developer.png " alt="")

				.footer__text
					p.
						Наращивание ресниц - это безопасная процедура, когда к одной Вашей родной ресничке приклеиваются искусственные реснички. Существуют различные характеристики искусственных ресниц: длины, толщина, изгиб. Материалы подбираются индивидуально, чтобы Ваши глазки выглядели естественными и натуральными, ну и, конечно же, неотразимыми.

					p.
						Натуральная красота без лишних усилий и даже макияжа. Вы получите длинные и естественные ресницы, о которых давно мечтали и никакие комочки туши не испортят этот образ. Даже забудете про любимую тушь, ведь теперь не нужно будет красить ею глаза. Кроме того, такие ресницы отлично смотрятся на профессиональных фотографиях.

					p.
						Натуральная красота без лишних усилий и даже макияжа. Вы получите длинные и естественные ресницы, о которых давно мечтали и никакие комочки туши не испортят этот образ. Даже забудете про любимую тушь, ведь теперь не нужно будет красить ею глаза. Кроме того, такие ресницы отлично смотрятся на профессиональных фотографиях.

					p.
						Вы забудете про ограничения посещение бассейна, пляжа, сауны, бани, теперь можно даже проронить слезу, просматривая мелодраму в кинотеатре, нарощенные ресницы являются более устойчивыми к влаге и ультрафиолетовому излучению, поэтому при их применении все это дозволено; возможность визуальной корректировки формы и размера глаз с помощью нарощенных ресниц; индивидуальный подбор цвета, длины, загиба, густоты ресниц с учетом пожелания клиента благодаря широкому ассортименту ресниц для наращивания; возможность дополнительного украшения ресниц (например, стразами) для торжественного случая или гламурной вечеринки.

					p.
						Наращивание ресниц – это уникальный метод для удлинения (увеличения количества) собственных ресничек. Теперь Вы сможете оставаться красивой в любой ситуации... И что самое главное - мужчины больше не смогут оторвать своих глаз от Вашего чарующего взгляда!











		script(type="text/javascript" src="libs/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js")
		script(type="text/javascript" src="libs/slick-carousel/slick/slick.min.js")
		script(type="text/javascript" src="js/custom.js")
