@media screen and (max-width: 1280px)

	.sw-5
		background: #6b4487 url("../images/sw-5_bg.jpg") -180px 0 no-repeat
		background-size: 619px 100%
		overflow: hidden
	
	.sw-8
		background-image: url("../images/sw-8_bg.png"), url("../images/sw-8_bg.jpg")
		background-repeat: no-repeat, repeat
		background-position: 0 65px, bottom left
		overflow: hidden
		padding-bottom: 70px

		.reviews
			width: 60%

@media screen and (max-width: 1170px)
	
	header, section, footer
		padding-right: 20px
		padding-left: 20px
		overflow: hidden

@media screen and (max-width: 1024px)

	.sw-1
		background: #141821 url("../images/sw-1_bg1.jpg") 95% 0 no-repeat
		background-size: auto 100%

		h2,p
			width: 60%

	.sw-3
		background: #8612b5 url("../images/sw-3_bg.jpg") 20% 0 no-repeat
		background-size: 619px 100%	

		section
			display: flex
			flex-direction: column
			align-items: flex-end

			h2, p
				width: 90%

	.sw-5
		background: #6b4487 url("../images/sw-5_bg_min.png") 100% 0 no-repeat
		background-size: 231px 240px
		overflow: hidden

		section

			h2, p
				width: 650px
				float: none

			p
				font-size: 36px

	.sw-8
		background-image: none, url("../images/sw-8_bg.jpg")
		background-repeat: no-repeat, repeat
		background-position: 0 65px, bottom left
		overflow: hidden
		padding-bottom: 35px

		.reviews
			width: 70%
			margin: 0 80px 50px 0

@media screen and (max-width: 980px)
	
	.header-wrap
		position: relative
		background: url("../images/header_wrap_img_small.png") right 50% bottom 320px, url("../images/header-wrap_bg.jpg")
		background-repeat: no-repeat, repeat
		background-size: 282px 279px, cover
	
		.toggle-wrap
			display: block

		header
			overflow: hidden
			.header-inner
				width: 100%

				nav
					margin-top: 60px
					display: none
					ul
						display: flex
						flex-direction: column
						padding: 35px 0 50px
						width: 280px
						background: rgba(100,31,170, 0.9)
						text-align: center
						position: absolute
						top: 20px
						left: 10px

						li
							padding: 12px
							a
								color: $white
								text-decoration: none
	
				.h__title
					font-size: 40px
					margin-top: 50px
					text-align: center
				
				h1
					margin-bottom: 300px

@media screen and (max-width: 800px)

	.sw-2
		text-align: center

		.first-row
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			margin-bottom: 70px
		
			.first-row__item
				width: 49%
				margin-bottom: 40px

	.sw-5
		background: #6b4487 url("../images/sw-5_bg_min.png") 100% 0 no-repeat
		background-size: 231px 240px
		overflow: hidden

		section

			h2, p
				width: 60%
				float: none

	.sw-6
		background: #fefffe

		.sw-6__items
			
			.sw-6__item
				width: 48%
				margin-bottom: 30px
	
	.sw-8
		background-image: none, url("../images/sw-8_bg.jpg")
		background-repeat: no-repeat, repeat
		background-position: 0 65px, bottom left
		overflow: hidden
		padding-bottom: 35px

		.reviews
			width: 85%
			margin: 0 80px 50px 0

			.review
				.review__img
					width: 40%
					float: left
					margin-right: 20px
					img
						width: 100%

				.review__text
					width: 45%

	.sw-10
		
		.form-gift
			display: flex
			flex-direction: column-reverse
			align-items: center
			
			.sw-10__form
				width: 370px
				text-align: center
				margin-bottom: 100px

			.gift
				width: 280px
				font-size: 12px
				font-family: "Roboto-Light"
				position: relative
				margin-left: 0
				
				p
					margin-top: 20px
					text-align: center

				&:before
					content: "подарок"
					position: absolute
					width: 120px
					height: 44px
					line-height: 40px
					top: -60px
					left: 50px
					background: url("../images/plus.png") 0 center no-repeat
					background-size: 20%
					padding-left: 50px
					font-size: 24px
					font-family: "Roboto-Bold"
					color: $main-color

	.sw-11
		section
			.quest-answer
				width: 100%

@media screen and (max-width: 640px)
	
	body
		font-size: 13px

	h1
		text-align: center
		font-size: 22px


	h2
		font-size: 28px

	h3
		font-size: 24px

	h4
		font-size: 23px

	h5
		font-size: 18px

	.check-in
		padding: 10px 25px
		font-size: 16px

	.header-wrap
		position: relative
		background: url("../images/header_wrap_img_small.png") right 50% bottom 300px, url("../images/header-wrap_bg.jpg")
		background-repeat: no-repeat, repeat
		background-size: 282px 279px, cover

		header
			.header-inner
				.h__callback
				
					.h__callback-title
						font-size: 16px
	.sw-2
		
		.first-row
		
			.first-row__item
				img
					height: 40px

		.second-row
			display: flex
			flex-wrap: wrap
			justify-content: center

			.second-row__item
				width: 45%
				padding: 0 10px
				margin-bottom: 20px

				.second-row__number
					font-size: 39px

	.sw-4

		.left-block
			width: 100%
			float: none

		.right-block
			width: 100%
			float: none
		
		.sw-4__text
			margin: 30px 0

		.sw-4__items
			clear: both
			display: flex
			flex-wrap: wrap
			justify-content: center

			.sw-4__item
				width: 30%
				color: $white
				text-align: center
				padding: 0 20px
				margin-bottom: 50px

				img
					height: 40px
					width: 55px
	
	.sw-5 section

			p
				font-size: 16px
				margin-top: 20px

	.sw-6
		background: #fefffe

		.sw-6__items
			
			.sw-6__item

				.top
					img
						width: 100%

				.middle
					padding-bottom: 40px					
					
					.middle__title
						font-size: 23px
						padding: 35px 0 25px

					.middle__price
						font-size: 29px
				
				p
					padding: 45px 15px 0 15px
					height: 195px
	.sw-8
		.reviews
			width: 245px
			float: none
			margin-left: auto
			margin-right: auto

			.review

				.review__img
					width: 100%
					float: none
					margin-right: 20px
					img
						width: 100%
						height: auto
						margin-bottom: 30px

				.review__text
					width: 100%
					float: none
	.sw-9

		section
			.font_24
				font-size: 20px
			.font_18
				font-size: 16px

	.sw-11
			section
				.quest-answer
					ul.questions
						display: none

					.answers
						width: 100%
						float: none

	.question_acard
		padding: 20px 10px
		cursor: pointer
		color: $white
		display: block

	.question_active_acard
		border: 1px solid $white
		position: relative
		margin-bottom: 30px

		&:after
			content: ""
			position: absolute
			width: 25px 
			height: 25px
			bottom: -45px
			right: calc( 50% - 7px)
			transform: rotate(45deg)
			background: $white

	.sw-10

		.h3-wrap
			
			.h3-after
				font-size: 18px
				margin: 10px 0
			span
				font-size: 18px

	.sw-12
		.balun
			position: static
			width: 100%

@media screen and (max-width: 480px)

	.header-wrap
		position: relative
		background: url("../images/header_wrap_img_small.png") right 60% bottom 300px, url("../images/header-wrap_bg.jpg")
		background-repeat: no-repeat, repeat
		background-size: 282px 279px, cover

		header
			overflow: hidden
			.header-inner
				
				.h__callback
					width: 260px
					background: $main-color
					text-align: center
					padding: 10px
					box-sizing: border-box
					font-family: "Roboto-Light"
					margin: 50px auto 35px auto
	.sw-1
		background: #141821 url("../images/sw-1_bg11.jpg") 100% 0 no-repeat
		background-size: auto 100%

		h2,p
			width: 60%
	.sw-10

		.form-gift

			.sw-10__form
				width: 370px
				text-align: center

				input[type="text"]
					width: 260px
					height: 45px
					line-height: 50px
					border: 1px solid $main-color
					box-sizing: border-box
					padding: 0 15px
					margin-bottom: 25px
					font-size: 13px

				p
					font-size: 12px
					font-family: "Roboto-Light"
					width: 60%
					margin: 20px auto 0

	.footer-wrap
		background: #eaeaea
		overflow: hidden
		footer
			.footer__row
				display: flex
				flex-direction: column
				align-items: center

				.cols
					text-align: center
					width: 100%
					margin-bottom: 20px

@media screen and (max-width: 375px)
	
	h3
		padding: 0 0

		&:before
			height: 0

		&:after
			height: 0

	.header-wrap
		position: relative
		background: url("../images/header_wrap_img_small.png") right 100% bottom 300px, url("../images/header-wrap_bg.jpg")
		background-repeat: no-repeat, repeat
		background-size: 282px 279px, cover


	.sw-2
		text-align: center

		.first-row
			margin-bottom: 30px		
			.first-row__item
				width: 100%

		.second-row

			.second-row__item
				width: 100%

	.sw-4
		.left-block

			img
				margin-bottom: 30px

		.right-block

		.sw-4__items

			.sw-4__item
				width: 40%
				color: $white
				text-align: center
				padding: 0 5px
				margin-bottom: 50px

	.sw-6

		.sw-6__items
			
			.sw-6__item
				width: 100%

				.middle
					background: #7419af
					box-sizing: border-box
					color: #fff
					text-align: center
					position: relative
					padding-bottom: 40px
					background: url("../images/middle_bg1.png")
					border-right: 1px solid $main-color
					border-left: 1px solid $main-color


					&:before
						content: ""
						position: absolute
						width: 101%
						height: 28px
						top: -26px
						left: -1px
						background: url("../images/middle_before.png") no-repeat
						background-size: 100%
						

					&:after
						content: ""
						position: absolute
						width: 100%
						height: 48px
						bottom: -30px
						left: 0
						background: url("../images/middle_after.jpg") no-repeat
						background-size: 100%