@import "bourbon"
@import reset

+font-face("Roboto-Thin", "../fonts/Roboto-Thin/Roboto-Thin", $file-formats: eot woff ttf svg)
+font-face("CormorantInfant-SemiBoldItalic", "../fonts/CormorantInfant-SemiBoldItalic/CormorantInfant-SemiBoldItalic", $file-formats: eot woff ttf otf svg)
+font-face("Roboto-Light", "../fonts/Roboto-Light/Roboto-Light", $file-formats: eot woff ttf svg)
+font-face("Roboto-Bold", "../fonts/Roboto-Bold/Roboto-Bold", $file-formats: eot woff ttf svg)
+font-face("Roboto-Black", "../fonts/Roboto-Black/Roboto-Black", $file-formats: eot woff ttf)
+font-face("Roboto-Italic", "../fonts/Roboto-Italic/Roboto-Italic", $file-formats: eot woff ttf)
+font-face("Roboto-Regular", "../fonts/Roboto-Regular/Roboto-Regular", $file-formats: eot woff ttf)

$main-color: #641faa
$white: #fff

body
	font-family: "Roboto-Thin"
	font-size: 16px
	line-height: normal
	color: #333333


h1
	font-size: 35px
	color: $white
	font-family: "Roboto-Light"
	text-align: center

h2
	font-size: 48px
	color: $white
	font-family: "CormorantInfant-SemiBoldItalic"

.h3-wrap
	text-align: center
	overflow: hidden
	margin-bottom: 50px
	width: 100%

h3
	font-size: 47px
	font-family: "Roboto-Thin"
	text-transform: uppercase
	display: inline-block
	padding: 0 20px
	position: relative

	&:before
		content: ""
		position: absolute
		top: calc( 50% - 0.5px )
		right: 100%
		width: 200%
		height: 1px

	&:after
		content: ""
		position: absolute
		top: calc( 50% - 0.5px )
		left: 100%
		width: 200%
		height: 1px

.sw_white 

	h3
		color: $main-color
		
		&:before
			background: $main-color

		&:after
			background: $main-color
.sw_dark 

	h3
		color: $white
		
		&:before
			background: $white

		&:after
			background: $white

	
h4
	font-size: 26px
	color: $main-color
	font-family: "Roboto-Bold"
	margin-bottom: 20px

h5
	font-size: 24px
	color: $white
	font-family: "Roboto-Italic"

h6
	font-size: 24px
	color: $main-color
	font-family: "Roboto-Light"
	margin-bottom: 15px



/*   loader   */

.loader
	background: none repeat scroll 0 0 $white
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 10

	.loader_inner
		background-image: url("../images/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-posirion: center center
		background-color: $white
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

/*   loader end   */


.section-wrap
	padding: 35px 0

.sw_small
	color: $white

header, section, footer
	max-width: 1170px
	margin: 0 auto


.header-wrap
	position: relative
	background: url("../images/header_wrap_img.png") -80px 0, url("../images/header-wrap_bg.jpg")
	background-repeat: no-repeat, repeat
	background-size: auto 100%
	


	.main-slider
		width: 40%
		float: left
		img
			width: 105%
	.toggle-wrap
		display: none

		/*  button animation  */

		.toggle-button
			width: 30px
			height: 30px
			float: left
			margin: 20px 0 0 10px
			cursor: pointer
			span
				display: block


		$w: 28px
		$h: 3px

		.sandwich 
			width: $w
			height: $w
			margin: auto
			z-index: 200

		.sw-topper
			position: relative
			top: 0
			width: $w 
			height: $h
			background: rgb(255, 255, 255)
			border: none
			border-radius: 4px 4px 4px 4px
			transition: transform 0.5s, top 0.2s
			display: block
					
			//transition-delay: 0.2s, 0s


		svg
			path
				fill: #e0e0e0

		.sw-bottom
			position: relative
			width: $w
			height: $h
			top: $h * 2.2
			background: rgb(255, 255, 255)
			border: none
			border-radius: 4px 4px 4px 4px
			transition: transform 0.5s, top 0.2s
			transition-delay: 0.2s, 0s
		.sw-footer
			position: relative
			width: $w
			height: $h
			top: $h * 4.5
			background: rgb(255, 255, 255)
			border: none
			border-radius: 4px 4px 4px 4px
			transition: all 0.5s
			transition-delay: 0.1s
		.sandwich.active
			.sw-topper
				top: 9px
				transform: rotate(-45deg)
			.sw-bottom
				top: 6px
				transform: rotate(45deg)
			.sw-footer
				opacity: 0
				top: 0
				transform: rotate(180deg)
		
		/*  button animation end */

	header
		overflow: hidden
		.header-inner
			width: 58%
			float: right
			color: $white
			nav
				ul
					display: flex
					padding: 25px 0 35px

					li
						padding: 12px
						a
							color: $white
							text-decoration: none

							&:hover
								color: #1cb100
				
			.active-menu
				display: block
				animation: 
					name: h-menu
					duration: 500ms
					timing-function: ease-in-out
					fill-mode: forwards

				@keyframes h-menu
					0%
						opacity: 0
						transform: translateY(-100px)
					
					100%
						opacity: 1
						transform: translateY(0px)
			.h__title
				font-size: 56px
				font-family: "CormorantInfant-SemiBoldItalic"
				margin-bottom: 30px
			
			.h__callback
				width: 360px
				background: $main-color
				text-align: center
				padding: 10px
				box-sizing: border-box
				font-family: "Roboto-Light"
				margin: 33px auto 35px auto
				
				.h__callback-title
					font-size: 22px
					padding-bottom: 10px
				
				.h__callback-inner
					background: $white
					color: $main-color
					padding: 15px

					.h__callback-number
						background: url("../images/phone_bg.png") 0 10px no-repeat
						width: 150px
						margin: 0 auto
						font-size: 22px
						font-family: "Roboto-Light"
						padding-left: 20px

					.h__callback-address
						margin-bottom: 15px
	.callback-app
		display: flex
		justify-content: center
		margin: 10px 0

	.whatsapp
		margin-right: 5px
	.viber
		margin-left: 5px
					

					
.check-in
	padding: 10px 30px
	color: $white
	background: #1cb100
	border-radius: 5px
	border: none
	font-family: "Roboto-Bold"
	font-size: 22px
	cursor: pointer


.sw-1
	background: #141821 url("../images/sw-1_bg1.jpg") 80% 0 no-repeat
	background-size: auto 100%

.sw-2
	text-align: center

	.first-row
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin-bottom: 70px
	
		.first-row__item
			width: 19%
			
			img
				height: 50px
				margin-bottom: 15px

	.second-row
		display: flex
		flex-wrap: wrap
		justify-content: space-between

		.second-row__item
			width: 30%

			.second-row__number
				font-size: 48px
				color: $main-color
				font-family: "Roboto-Black"
				margin-bottom: 24px


.sw-3
	background: #8612b5 url("../images/sw-3_bg.jpg") 20% 0 no-repeat
	background-size: 619px 100%	

	section
		display: flex
		flex-direction: column
		align-items: flex-end

		h2, p
			width: 65%

.sw-4
	background: url("../images/sw-4bg.jpg") no-repeat
	background-size: cover
	overflow: hidden

	.left-block
		width: 48%
		float: left
		color: #cf9eed
		line-height: 24px

		img
			margin-bottom: 70px
			width: 100%

	.right-block
		width: 48%
		float: right
		color: #cf9eed
		line-height: 24px

	.sw-4__text
		margin: 50px 0

	.sw-4__items
		clear: both
		display: flex
		justify-content: space-between

		.sw-4__item
			width: 15%
			color: $white
			text-align: center

			img
				height: 50px
				width: 65px
				margin-bottom: 15px

.sw-5
	background: #6b4487 url("../images/sw-5_bg.jpg") 0 0 no-repeat
	background-size: 619px 100%
	overflow: hidden

	section

		h2, p
			width: 650px
			float: right

		p
			font-size: 36px

.sw-6
	background: #fefffe

	.sw-6__items
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		
		.sw-6__item
			width: 23.5%
			overflow: hidden

			.top
				img
					width: 100%

			.middle
				background: #7419af
				box-sizing: border-box
				color: #fff
				text-align: center
				position: relative
				padding-bottom: 40px
				background: url("../images/middle_bg1.png")
				border-right: 1px solid $main-color
				border-left: 1px solid $main-color


				&:before
					content: ""
					position: absolute
					width: 101%
					height: 23px
					top: -23px
					left: -1px
					background: url("../images/middle_before.png") no-repeat
					background-size: 100%
					

				&:after
					content: ""
					position: absolute
					width: 100%
					height: 42px
					bottom: -30px
					left: 0
					background: url("../images/middle_after.jpg") no-repeat
					background-size: 100%
				
				
				.middle__title
					font-family: "Roboto-Regular"
					font-size: 24px
					padding: 35px 0 25px
					text-transform: uppercase

				.middle__price
					font-family: "Roboto-Black"
					font-size: 30px
					margin-bottom: 30px

			p
				padding: 45px 25px 0 25px
				border: 1px solid $main-color
				border-top: none
				box-sizing: border-box
				height: 165px





.sw-7
	background: url("../images/sw-4bg.jpg") no-repeat
	background-size: cover
	padding-bottom: 55px
	
	section
		padding-bottom: 30px
		.my-works
			
			.work
				padding: 0 10px
				box-sizing: border-box
				width: 25%

				img
					width: 100%


.sw-8
	background-image: url("../images/sw-8_bg.png"), url("../images/sw-8_bg.jpg")
	background-repeat: no-repeat, repeat
	background-position: 20% 65px, bottom left
	overflow: hidden
	padding-bottom: 70px

	.reviews
		width: 50%
		float: right
		margin: 25px 80px 40px 0

		.review
			.review__img
				width: 35.8%
				float: left
				margin-right: 20px
				img
					width: 100%

			.review__text
				width: 45%
				float: left
				font-family: "Roboto-Italic"
				font-size: 14px

.sw-9
	background: #333
	text-align: center

	.font_24
		font-size: 24px
		margin: 20px 0
	.font_18
		font-size: 18px

.sw-10

	.h3-wrap
		color: $main-color
		
		.h3-after
			font-family: "Roboto-Black"
			font-size: 30px
		span
			font-family: "Roboto-Light"
			font-size: 24px
	
	.form-gift
		display: flex
		flex-direction: row-reverse

		.sw-10__form
			width: 370px
			text-align: center

			input[type="text"]
				width: 370px
				height: 50px
				line-height: 50px
				border: 1px solid $main-color
				box-sizing: border-box
				padding: 0 15px
				margin-bottom: 25px
				font-size: 16px

			p
				font-size: 12px
				font-family: "Roboto-Light"
				width: 60%
				margin: 20px auto 0

			
		.gift
			width: 280px
			font-size: 12px
			font-family: "Roboto-Light"
			position: relative
			margin-left: 120px
			
			p
				margin-top: 20px

			&:before
				content: ""
				position: absolute
				width: 44px
				height: 44px
				top: 75px
				left: -68px
				background: url("../images/plus.png") no-repeat
				

.sw-11
	background: url("../images/sw_11_bg.jpg") no-repeat
	background-size: cover

	.quest-answer
		width: 82.9%
		margin: 0 auto 25px
		overflow: hidden
	
		.questions
			width: 280px
			color: $white
			box-sizing: border-box
			float: left
	
			.question
				padding: 20px 10px
				cursor: pointer

			.question_active
				border: 1px solid $white
				position: relative

				&:after
					content: ""
					position: absolute
					width: 25px 
					height: 25px
					top: 20%
					right: -45px
					transform: rotate(45deg)
					background: $white


		.answers
			width: calc( 100% - 310px)
			float: right

			.answer
				background: $white
				padding: 20px 20px
.question_acard
	display: none

.sw-12
	padding: 0
	position: relative
	
	.balun
		background: rgba(100,31,170, 0.9)
		display: inline-block
		color: $white
		padding: 30px
		font-size: 22px
		font-family: "Roboto-Light"
		position: absolute
		right: 20%
		top: 70px
		box-sizing: border-box

		.balun__title
			background: url("../images/balun__title.png") 0 5px  no-repeat
			padding-left: 35px
			margin-bottom: 45px
		
		.balun__number
			background: url("../images/balun__number_bg.png") 0 10px no-repeat
			padding-left: 35px
			margin-bottom: 15px

		.callback-app
			display: flex
			margin: 15px 0 0 35px

.footer-wrap
	background: #eaeaea
	overflow: hidden
	footer
		.footer__row
			display: flex
			padding: 50px 0
			.cols
				width: 33%

			.col-2 
				text-align: center

			.col-3
				text-align: right

		.footer__text
			p
				margin-bottom: 20px

			&:last-child
				margin-bottom: 50px

@import media